section.jumbotron.text-center
    .container
        h1 Fantasy Basketball Player Analyzer
        h5 NBA Daily Stats Leaders for February 12, 2024
        p.lead.text-muted On this Fantasy Basketball Player Analyzer I chose to Nodejs, Express, PUG stack with a library for converting CSV to JSON to format the data. It worked well however I could not locate the stats for the API for Number of games to be played in the current week so I replaced this column with 3-point field gold percentage.  