extends layout.pug
include mixins/_thumbCard

block content
    .album.py-5.bg-light
        .container
            .row
                h1 Fantasy Basketball Player Analyzer
                p
                    a(href='sports') Sports Data Page 