extends layout.pug
include mixins/_thumbCard

block content
    .album.py-5.bg-light
        .container
            .row
                h1 hello world
                p
                    a(href='sports') Sports page 