extends layout.pug
include mixins/_thumbIndexMixin

block content
    .album.py-5.bg-light
        .container
            .row
                h1 Fantasy Basketball Player Analyzer
                p
                    a(href='sports') Sports Data Page 
            .row
                each apSport in spDataApi
                    +thumbIndexMixin(apSport)